<section class="filter-wrapper">
  <div class="keyword-wrapper">
 <input [formControl]="queryField" type="text" id="keyword" placeholder="Search for movies..." autofocus/>
   </div>
 <ul>
   <li *ngFor="let result of results" >
    <!-- <img src={{result.Poster}} alt="" width="50" height="50">-->
     <p class="artist-name">{{result.Title}}</p>
     <iframe class="embed-responsive-item" [src]='safeURL'
      	webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
 <!--<span class="tags"></span>-->
 </ul>
 </section>
